%fullSpace {
  width: 100%;
  height: 100%;
}

// mixins
@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}
