@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

:root {
  --fsize-xl: 4rem;
  --fsize-600: 3rem;
  --fsize-500: 2rem;
  --fsize-400: 1rem;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: gold !important;
}
.active::after {
  background-color: red;
}

.checkbox-lbl {
  background-color: #fff;
  display: block;
  margin-bottom: 2rem;
}

body {
  font-size: 62.5%;
  background-color: #ccc;
  font-family: "Raleway", sans-serif;
}

.menu {
  display: none;
}

section {
  padding: 3rem 0;
}

section .heading {
  position: relative;
}

section h1 {
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #795548;
}

.section-heading::after {
  content: "";
  width: 11rem;
  height: 0.3rem;
  background-color: rgb(38, 57, 77);
  margin: 0 auto;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translate(-50%);
}

.wrapper {
  background-color: #242a37;
  min-width: 100%;
}

section h1 {
  color: #464646;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #2f3857;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 12;
  background: #691aff;
}

.nav {
  width: 35%;
  font-family: "Montserrat", sans-serif;
}

.nav .navigation-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  list-style: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  font-size: 1rem;
  color: #88858c;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  outline: none;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}

.navigation-link:hover {
  color: gold !important;
  color: rgb(38, 57, 77);
  outline: none;
}

.navigation-link::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background-color: gold;
  position: absolute;
  top: 2rem;
  left: 0rem;
  transition: width 0.2s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover::after {
  width: 4rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****Right nav****>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.rt-nav {
  width: 150px;
}

.rt-nav .icons-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 0 1 10%;
  max-width: 99%;
  margin: 0rem auto;
  background: #691aff;
  z-index: 12;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rt-nav .icons-wrapper .icon {
  cursor: pointer;
}

.rt-nav i {
  font-size: 0.9rem;
  color: #fff;
}

.fa-twitter,
.fa-github,
.fa-facebook,
.fa-envelope {
  font-size: 1.3rem;
  border-radius: 50%;
}

.fa-twitter {
  background-color: #1c9bef;
}

.fa-facebook {
  background-color: #016de4;
}

.fa-envelope {
  background-color: gray;
}

.fa-github {
  background-color: black;
}

/* #video-bg {
  min-width: 100%;
  min-height: 100vh;
  z-index: 11;
  position: absolute;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.logo {
  position: absolute;
  left: 1rem;
  font-size: 0.7rem;
  color: #fff;
  font-family: "Luckiest Guy", cursive;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
}

.hero {
  min-height: 100vh;
  min-width: 100%;
  background: #691aff;
  background: #02cb84;
  background: #b9c4b2;
  display: flex;
  position: relative;
}

.hero .profile {
  display: flex;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.hero .name {
  width: 59%;
  color: #fff;
  top: 50%;
  left: 50%;
  font-size: var(--fsize-xl);
  font-family: "Montserrat", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
}

.hero .name span {
  display: block;
}

.hero .name .first {
  letter-spacing: 7px;
}

.hero .pic {
  width: 39%;
  height: auto;
}

.hero .pic img {
  width: 100%;
  height: 100%;
}

/* ------------------------web */

.skills {
  background-color: #dfe0e1;
  background-color: #f1fafd;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

.skills-wrapper {
  display: flex;
  flex: 0 0 60%;
  max-width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 1rem 0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.skills-wrapper .skill {
  flex: 0 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.skills-wrapper .skill-img {
  width: 5rem;
  height: 6rem;
  margin: 0 auto;
}

.skills-wrapper .skill-img img {
  width: 100%;
}

.skills-wrapper .skill-name {
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 600;
  color: #616161;
}

/* ------------------------portfolio */

.portfolio {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}

.portfolio-wrapper {
  display: flex;
  flex: 0 0 75%;
  max-width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
}

.portfolio-wrapper .box {
  flex: 1 0 20rem;
  flex-wrap: wrap;
  padding: 0.4rem;
  border-radius: 3px;
}

.portfolio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #0e0e0e;
}

.portfolio-box .image {
  width: 100%;
  margin: 0 auto;
}

.portfolio-box .name h3 {
  font-size: 1.7rem;
  text-align: left;
  font-family: inherit;
  padding: 0.5rem 0;
  font-weight: 800;
  color: #696969;
}

.portfolio-box img {
  width: 100%;
}

.desc p {
  font-size: 1.1rem;
  text-align: left;
  font-family: inherit;
  color: #696969;
  padding: 1rem;
}

.action {
  padding: 0.5rem;
}

.action .btn {
  padding: 0.5rem 1rem;
  background-color: #2f3857;
  color: #e5f9f6;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1.2rem;
}

.action .btn:hover {
  cursor: pointer;
  color: #fff;
}

/* --------------------------------about */

.about {
  background-color: #dfe0e1;
}

.my-info {
  width: 40%;
  margin: 0 auto;
}

.my-info-para {
  font-family: "Josefin Slab", serif;
  font-size: 1.9rem;
  letter-spacing: 4px;
  line-height: 1.3;
  color: #696969;
}

/* -------------------------------contact */
.contact {
  background-color: #f5f5f5;
}

.form {
  max-width: 70%;
  margin: 0 auto;
  background-color: #eeeff2;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35rem;
  text-align: left;
  padding: 1rem;

  padding-bottom: 0;
}

.my-form .subject,
.my-form .message {
  width: 90%;
  margin: 0 auto;
}

label {
  display: block;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  display: none;
}

::placeholder {
  font-size: 1.2rem;
  text-align: center;
  color: darkgray;
  font-family: "Ubuntu", sans-serif;
}

.row-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.row-form .name,
.row-form .email {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 49.5%;
  margin-bottom: 2rem;
}

.input-ctrl {
  position: relative;
}

.input-ctrl .fas {
  position: absolute;
  font-size: 1.8rem;
  right: 0.5rem;
  top: 20px;
}

.input-ctrl .fa-check-circle {
  visibility: hidden;
}
.input-ctrl .fa-exclamation-circle {
  visibility: hidden;
}

.error input,
.error textarea {
  border-color: orangered !important;
}

.success input,
.success textarea {
  border-color: olivedrab !important;
}

.error i.fa-exclamation-circle {
  visibility: visible;
  color: orangered;
}

.error i.fa-check-circle {
  visibility: hidden;
}

.success i.fa-check-circle {
  visibility: visible;
  color: olivedrab;
}

.success i.fa-exclamation-circle {
  visibility: hidden;
}

.success .p {
  visibility: hidden;
}

.error .err-msg {
  visibility: visible;
  color: orangered;
}

.err-msg {
  font-size: 1.1rem;
  padding-left: 0.2rem;
  visibility: hidden;
}
#message {
  width: 100%;
  outline: none;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  padding-top: 0.9rem;
  background-color: #eeeff2;
}

#email,
#name,
#subject {
  width: 100%;
  height: 70px;
  border: 1px solid #b8b8b8;
  background-color: #eeeff2;
  padding: 1rem;
}

.form button {
  display: block;
  width: 40%;
  margin: 1rem auto;
  height: 55px;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 0;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;

  background-color: #2e3447;
  color: #ccc;
  border-radius: 4px;
}

.form button:hover {
  background-color: #2e3447;
  color: #fff;
}

/* ----------------------footer */

.footer {
  background-color: #2f3857;
}

.copyright {
  text-align: center;
  font-size: 1.3rem;
  color: #656676;
}

/* -----------------------------------------media queries */

/* footer */
@media screen and (max-width: 1400px) {
  .form {
    height: 530px;
    min-width: 80%;
  }

  .form .my-form {
    height: 500px;
    padding: 0;
    padding-top: 2rem;
  }

  .row-form {
    flex-direction: column;
    justify-content: space-between;
  }

  .row-form .name,
  .row-form .email {
    width: 100%;
    height: 80px;
  }

  .row-form .name,
  .row-form .email {
    margin-bottom: 0.5rem;
  }

  #subject {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1160px) {
  .nav {
    width: 70%;
  }

  .my-info {
    width: 80%;
  }
  .portfolio-wrapper {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .portfolio-wrapper .box {
    flex: 1 0 19rem;
  }
}

@media screen and (max-width: 1084px) {
  .profile {
    flex-direction: column;
  }

  .profile .name {
    width: 100%;
    text-align: center;
  }

  .profile .pic {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .hero .name {
    font-size: 5rem;
  }

  .portfolio-wrapper {
    flex: 0 0 95%;
    max-width: 95%;
  }

  .portfolio-wrapper .box {
    flex: 1 0 19rem;
  }

  .my-info {
    width: 80%;
  }

  /* -------------------------contact */

  .contact {
    padding: 1rem;
    width: 100%;
  }

  .form {
    min-width: 100%;
    margin-top: 0.5rem;
  }

  .my-form {
    padding: 1.5rem;
    height: 390px;
  }

  .my-form .row-form,
  .my-form .subject,
  .my-form .message {
    min-width: 95%;
  }
  .my-form button {
    min-width: 90%;
  }

  .icons-wrapper {
    min-width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .hero .name {
    text-align: center;
    font-size: 4rem;
  }

  .contact {
    border: 1px solid black;
  }

  .banner .name {
    font-size: 3rem;
    padding: 1rem 0 2rem 0;
  }

  .banner .role {
    font-size: 2rem;
  }

  .section-heading::after {
    content: "";
    width: 0rem;
    height: 0rem;
  }

  .navigation-link::after {
    content: "";
    width: 0rem;
    height: 0rem;
  }

  .menu {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    display: inline-block;
  }

  .line {
    width: 2rem;
    height: 0.2rem;
    background-color: #dae8d4;
    margin-bottom: 0.6rem;
    left: 50%;
    top: 50%;
  }

  .line-1,
  .line-3 {
    width: 1.5rem;
  }

  .menu:hover .line {
    width: 2.5rem;
  }

  .nav {
    display: none;
    transition: all 3s;
  }

  .nav ul.navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 3.7rem;
    left: 0;
    height: 300px;
    min-width: 100%;
    background-color: #242a37;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .nav ul.navigation-list a {
    font-size: 2rem;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .checkbox:checked ~ .header .line-1 {
    transform: rotate(-405deg) translate(-11px, 15px);
    width: 2.5rem;
  }

  .checkbox:checked ~ .header .line-2 {
    opacity: 0;
  }

  .checkbox:checked ~ .header .line-3 {
    transform: rotate(405deg) translate(-4px, -8px);
    width: 2.5rem;
  }

  h1.section-heading {
    margin-bottom: 1rem;
    padding: 0;
    padding-bottom: 2rem;
  }

  .header {
    height: 60px;
  }

  .skills-wrapper {
    flex: 0 0 100%;
    max-width: 92%;
    padding: 1.5rem;
  }

  .portfolio-wrapper {
    flex: 0 0 10%;
    max-width: 100%;
    margin: 0 auto;
  }

  .portfolio-wrapper .box {
    flex: 1 0 19rem;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .portfolio-wrapper .portfolio-box {
    flex: 1 0 19rem;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #fff;
  }

  .portfolio-wrapper .box img {
    width: 100%;
  }

  .hero {
    min-width: 100%;
  }

  /* about */

  .about {
    padding: 1rem;
  }

  .my-info {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
  }

  .my-info-para {
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
    letter-spacing: initial;
    line-height: 1.3;
    color: #696969;
  }

  .icons-wrapper {
    min-width: 92%;
  }
}

@media screen and (max-width: 590px) {
  .hero .name {
    font-size: 5rem;
    width: 500px;
    padding: 0.6rem;
  }

  .my-info {
    font-size: 1.4rem;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .hero .name {
    font-size: 4rem;
    text-align: center;
    width: 420px;
    height: 360px;
  }
}

@media screen and (max-width: 425px) {
  .hero .name {
    font-size: 2.7rem;
    width: 400px;
    height: 330px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
  }

  .hero .name {
    font-size: 2.4rem;
    font-size: 2.9rem;
    width: 300px;
    height: 300px;
  }

  .header .icons-wrapper {
    display: none;
  }
}
/* 
@media screen and (orientation: portrait)  {
} */

@media screen and (orientation: landscape) and (max-height: 400px) {
  .hero {
    height: 400px;
  }
}

@media screen and (max-width: 312px) {
  .hero .name {
    width: 250px;
    height: 340px;
  }
}
