.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;

  @media (max-width: 1000px) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: 500px) {
    width: 25px;
    height: 25px;
  }
}
