// placeholders

%fullSpace {
  width: 100%;
  height: 100%;
}

// mixins
@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontStyling($textStyle: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $textStyle;
}

@mixin mainHeading {
  font-family: $font-dancing-script;
  font-size: 80px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;
}

@mixin subHeading {
  font-family: $font-josefin;
  font-size: 60px;
  font-weight: 300;
  color: $color-gray;
  margin-bottom: 30px;
}
