$color-white: #fff;
$color-black: #000;
$color-gray: #bbb;
$color-primary: #d3ab55;

$color-dark: #262626;

$font-dancing-script: "Dancing Script", cursive;
$font-josefin: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;
